.shop_conatinaer {
  max-width: 1580px;
  margin: 0 auto;
  padding: 50px 0;
}

.request__wrapper h1 {
  text-align: center;
  margin-bottom: 20px;
}

.request_card_wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.app {
  background-color: aliceblue;
}

.css-xfmtxh-MuiDataGrid-root .MuiDataGrid-main,
.MuiDataGrid-footerContainer {
  background-color: white;
}
.MuiTypography-root li {
  list-style: none;
}

.header_btns_container {
  display: flex;
  justify-content: space-between;
}
